*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

*.pidb.meta
*.apk
*.unitypackage

*.log

*.dylib
*.cache
*.bin

obj/
.vscode/
.idea

*.DS_Store
Artifacts/
ArtifactDB
